.counterbutton {
    margin-left: 14rem;
    margin-bottom: 10px;
}

.inputbox {
    margin-top: 40px;
    padding-top: 10px;
    border: 1px solid;
    margin-left: 18rem;
    margin-right: 13rem;
}

.inputpanel {
    margin-top: 40px;
    margin-left: 5rem;
    margin-right: 5rem;
}